In [1]:
import numpy as np
import pandas as pd

In [2]:
#dataframes : calculations by column

#sum of columns and set to other columns

n_array = np.arange(50).reshape(10,5)
df = pd.DataFrame(n_array)

df.loc[:,'PCT_UNDER_VOLTAGE_MINUTES'] = df.iloc[:,lambda df: [1,2,4]].sum(axis =1)

df

    0   1   2   3   4  PCT_UNDER_VOLTAGE_MINUTES
0   0   1   2   3   4                          7
1   5   6   7   8   9                         22
2  10  11  12  13  14                         37
3  15  16  17  18  19                         52
4  20  21  22  23  24                         67
5  25  26  27  28  29                         82
6  30  31  32  33  34                         97
7  35  36  37  38  39                        112
8  40  41  42  43  44                        127
9  45  46  47  48  49                        142

In [4]:
#reordering of columns in pandas

df.reindex(columns=[4,0,'PCT_UNDER_VOLTAGE_MINUTES',3,2 ,1 ])

    4   0  PCT_UNDER_VOLTAGE_MINUTES   3   2   1
0   4   0                          7   3   2   1
1   9   5                         22   8   7   6
2  14  10                         37  13  12  11
3  19  15                         52  18  17  16
4  24  20                         67  23  22  21
5  29  25                         82  28  27  26
6  34  30                         97  33  32  31
7  39  35                        112  38  37  36
8  44  40                        127  43  42  41
9  49  45                        142  48  47  46